body{
    color:white;
    font-size: 20;
}
.header{
    top: 5px;
    height: 40px;
    left: 5px;
    right: 5px;
    /*float: right;*/
    
}
.tableaubody{
    position: relative;
    /*width: 2000px;*/
    margin-left: auto;
    margin-right: auto;
    
    
}
.footer{
    bottom: 5px;
    height: 50px;
    left: 5px;
    right: 5px;
    position: relative;
    
}
a{
    color:yellow;
    font-size: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
a:visited{
    color: yellow;
}
a:hover{
    text-decoration: underline;
}
.center{
    text-align: center;
}
